@import '~leonardo-ui/dist/leonardo-ui.css';

  .custom-filter-form {
    background-color: #FFFFFF;
    padding: 10px;
    color: #000000;
  }

  .dropdown-multi-options {
    position: absolute;
    z-index: 2;
    background: #FFFFFF;
  }

  .scroll-down{
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;
    padding: 5px;
  }

  .check-box-span-text {
    color: #000000;
    font-weight: normal;
    font-size: 12px;
  }

  .select-options {
    font-size: 14px;
  }

    /* width */
    .scroll-down::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    .scroll-down::-webkit-scrollbar-track {
      background: #FFFFFF;
    }
    
    /* Handle */
    .scroll-down::-webkit-scrollbar-thumb {
      background: #045073; 
    }

    /* Handle on hover */
    .scroll-down::-webkit-scrollbar-thumb:hover {
      background: #045073; 
    }

    // Select dropdown
    .multiselect {
      width: -webkit-fill-available;
    }
    
    .selectBox {
      width: -webkit-fill-available;
    }
    
    .selectBox select {
      position: relative;
      width: -webkit-fill-available;
      display: flex;
      border: 1px solid #ADADAD;
      border-radius: 4px;
      padding: 5px 10px;
      background: #FFFFFF;
      justify-content: space-between; 
    }
    
    .checkboxes {
      display: none;
      border: 1px #dadada solid;
    }
    
    .checkboxes label {
      display: block;
    }
    
    .checkboxes label:hover {
      background-color: #1e90ff;
      span{
        color: #FFFFFF
      }
    }

    .btn-options {
      display: flex;
      justify-content: space-between;
      width: -webkit-fill-available;
      border: 1px solid #ADADAD;
      border-radius: 4px;
      padding: 5px 10px;
      background: #FFFFFF;
      font-size: 14px;
      text-align: left;
    }
    
    .clear-button{
      text-align: end;
      button{
        background-color: transparent;
        border: none;
      }
      button:hover{
        background-color: #dbdbdb;
      }
    }

    .select-all-button{
      text-align: start;
    }
  
    .dropdown-element-input{
      padding: 5px;
      width: -webkit-fill-available;
      input{
        width: -webkit-fill-available;
        height: 25px;
        margin-top: 10px;
        border: 1px solid #b3b3b3;
        border-radius: 2px;
        padding: 5px;
      }
    }

    .dropdown-element{
      padding: 5px;
      width: -webkit-fill-available;
    }

    .chip{
      font-size: 9px;
      border: solid 1px #e4e4e4;
      border-radius: 10px;
      background-color: #e4e4e4;
      color: #000000;
      z-index: 1;
      padding: 2px;
    }

    .selected-container{
      height: 50px;
      overflow-y: scroll;
    }

    /* width */
    .selected-container::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    .selected-container::-webkit-scrollbar-track {
      background: #FFFFFF;
    }
    
    /* Handle */
    .selected-container::-webkit-scrollbar-thumb {
      background: #045073; 
    }

    /* Handle on hover */
    .selected-container::-webkit-scrollbar-thumb:hover {
      background: #045073; 
    }

    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted #045073;
    }
    
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: #045073;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      font-size: 12px;
    
      /* Position the tooltip */
      position: absolute;
      z-index: 10;
    }
    
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }