<form id="{{layout.qInfo.qId}}" role="form" ng-if="layout.properties.showCondition != '0'" style="background-color: aqua;">

    <label ng-if="layout.properties.includeSelectAllOption && !layout.properties.alwaysOneSelectedValue" ng-repeat="item in selectOptions track by $index"
        class="lui-checkbox list-action" ng-class="{'list-action-disabled': item.disabled}">

        <input class="lui-checkbox__input" ng-checked="false" ng-click="!item.disabled && item.click()"
            type="checkbox"> <!-- aria-disabled="{{item.disabled}}" -->
        <div class="lui-checkbox__check-wrap">
            <span class="lui-icon lui-icon--small list-action-icon" style="width: 20px" ng-class="item.icon"
                aria-hidden="true"></span>
            <!-- Select options -->
            <span class="lui-checkbox__check-text" style="color: yellow;">{{item.label}}</span>
        </div>
    </label>
    <select ng-model="item" 
            ng-options="item.qText for item in data track by item.qElemNumber"
            ng-click="select(item, $event)" style="background-color: aqua;">
        <!-- <option ng-repeat="item in data track by item.qElemNumber" value="{{item}}" ng-click="select(item, $event)">{{item.qText}}</option> -->
    </select>
    <div style="overflow-y: scroll">
        <div ng-repeat="item in data track by item.qElemNumber">
            <label class="lui-checkbox">
                <input class="lui-checkbox__input" ng-checked="item.isChecked" ng-click="select(item, $event)"
                    type="checkbox" style="border-radius: 50%"/>
                    <!-- aria-label="{{item.ariaLabel}}" -->
                <div class="lui-checkbox__check-wrap">
                    <!-- Arrow select-->
                    <span class="lui-checkbox__check" aria-hidden="true" ng-style="{color: '#FFFB00', background: item.isChecked ? layout.properties.checkBackgroundColor : 'transparent'}"></span>
                    <span class="lui-checkbox__check-text" style="color: red;">{{item.qText}}</span>
                </div>
            </label>
        </div>
    </div>

</form>